<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Portfolio</title>

    <link rel="stylesheet" href="styles/normalize.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth">Auth</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
        </ul>
    </nav>
    
    <h1>Stock Portfolio</h1>
    <h3>Your Stock Summary:</h3>

    {% block content %}
        <p>No content</p>
    {% endblock content %}

</body>
</html>