<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Portfolio</title>

</head>
<body>
    <nav>
        <ul>
            <li><a href="{{request.route_url('home')}}">Home</a></li>
            <li><a href="{{request.route_url('auth')}}">Login/Register</a></li>

            {% if request.authenticated_userid %}
            <li><a href="{{request.route_url('portfolio')}}">Portfolio</a></li>
            <li><a href="{{request.route_url('stock')}}">Add</a></li>
            <li><a href="{{request.route_url('logout')}}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <h1>Stock Portfolio</h1>
    <h3>Your Stock Summary:</h3>

    {% block content%}

    {% endblock content%}

</body>
</html>
