{% extends "index.jinja2" %}

{% block content %}

    <table id="stock-portfolio-table">
            <tr>
              <th>Stock Ticker Symbol</td>
              <th>Price Per Share</td>
            </tr>
            <tr>
              <td>Company</td>
              <td>Price</td>
            </tr>
          </table>
    
{% endblock content %}
