{% extends "index.jinja2" %}

{% block content %}

    <h1>Add a Stock to Your Portfolio:</h1>
    
    <form id="add-form" method="GET" action="{{request.route_url('stock')}}">
    <label for="ticker">Stock Ticker</label>
    <input type="text" name="ticker" placeholder="MSFT" required>
    <button type="submit">Search</button>
    </form>

    {% if company %}
    <div>
    {{company}}
    </div>
    {% endif%}

{% endblock content %}
